[Unit]
Description=WireGuard VPN
Documentation=man:wg(8) man:wg-quick(8)
After=network-online.target nftables.service
Wants=network-online.target
PartOf=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/wg-quick up wg0
ExecStop=/usr/bin/wg-quick down wg0
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
Environment=WG_COLOR_MODE=never WG_HIDE_KEYS=always LOG_LEVEL=verbose

[Install]
WantedBy=multi-user.target
